* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
  
}

img {
	max-width: 100%;
}

ul,
li,
ol,
menu {
	list-style: none;
}

a {
	text-decoration: none;
	color: currentColor;
}

.button{}


body{
  font-family: 'Signika', sans-serif;
  background-color: #141922;

  height: 100vh;
  display: flex;
  flex-direction: column;
}

main{
  /* background-color: aqua; */
  flex-grow: 1;
  display: flex;
}

:root{
  --light-gray:#A3A3A3;
  --gray:#363636;
  --dark-gray:#141922;
  --dark-teal:#141922;
  --deep-teal:#080B12;
  --black:#000000;
  --limelight:#ADFF2F;
  
   
}


main{
  overflow: hidden;
}


/************** NAVBAR LATERALE ****************/


.navbar{
  background-color: var(--black);
  width: 230px;
  flex-shrink: 0;
  display: flex;
  overflow: hidden;
}


.nav-row{
  color: white;
  display: flex;
  flex-direction: column;
  width: 230px;
}



.nav-col{
  display: flex;
  flex-direction: column;
}

.col-main-logo{
  padding: 20px 0px 24px 20px;
}

.main-button-list li{
  padding: 6px 0px 6px 20px;
}

.playlist-list li{
  padding: 11px 0px 11px 20px;
}

.spotify-logo{
  width: 130px;
}

.img-button{
  width: 22px;
}

.main-button{
  display: flex;
  align-items: center;
}

.main-button > h4 {
  padding-left: 8px;
}



.navbar h3, h4 {
  color: var(--light-gray);
  font-size: 14px;
}

.add-button{
  color: var(--black);
  font-size: 16px;
  padding: 5px 4px 5px 7px;
  border: 2px solid var(--light-gray);
  background-color: var(--light-gray);
}

.create-playlist{
  font-size: 18px;
  padding-left: 10px;
}



.col-playlist{
  flex-grow: 1;
}

.playlist-item{
  padding: px 0;
}

.spotify-only-logo{
  display: none;
}


/*********** MEDIAQUERY NAVBAR *************/

@media only screen and (max-width: 575px) {

.navbar {
  width: 50px;
  flex-shrink: 0;
}

.navbar h3, h4, .spotify-logo{

  display: none;
}


.spotify-only-logo{
  display: inline;
}

.col-main-logo{
  padding: 10px;
}

.img-button{
  width: 30px;
}

.main-button-list li {
  padding: 6px 0px 6px 10px;
}


/* DOWNLOAD AND PROFILE MEDIAQUERY */


.subcol-profile{
  margin-left: -7px;
}

.subcol-download{
  margin-left: -3px;
}





}



/* PROFILO */

.profile-round{
  width: 25px;
  border-radius: 50%;
  background-color: var(--light-gray);
}

.subcol-profile{
  display: flex;
  align-items: center;
  padding: 14px 0px 7px 20px;
}

.subcol-profile > h3{
  color: white;
  padding-left: 10px;
}




/* download app */



.subcol-download{
  display: flex;
  color: var(--light-gray);
  gap: 8px;
  padding: 14px 0px 14px 20px;
  border-bottom: 2px solid var(--gray);
}

.subcol-download > h4{
  color: white;
}








/**************** CONTENUTO *******************/

.content{
  /* background-color: orange; */
  background-color: var(--dark-teal);
  flex-grow: 1;
  overflow-y: auto;
  color: white;


  /* nasconde tutto il contenuto che va giu sotto 
  il player */
}

.upgrade-bar{
  background-color: var(--deep-teal);
  height: 90px;
}

.music-highlights{
  /* background-color: bisque; */
  
}

/***************** PLAYER *********************/
 
.container-player{
  background-color: var(--gray);
  height: 90px;
  color: white;
  width: 100%;

  /* prova per fissare giu player */

  /* position: fixed;
  left: 0;
  bottom: 0;
  width: 100%; */
}



.row-player{
  height: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.col-player{
  width: 230px;
  align-items: center;
  display: flex;
  
}

/************ SEZIONE SX PLAYER */

.song-thumb{
  width: 42px;
}

.col-song{
  margin: 0px 10px;
  gap: 12px;
}

.favourite-folder-icons{
  font-size: 14px;
  color: var(--light-gray);
}

.favourite-folder-icons i {
  padding-left: 10px;
}

.song-specs{
  display: flex;
  flex-direction: column;
}


/************ FINE SEZIONE SX PLAYER */

/************ SEZIONE CENTRALE PLAYER */

.mid-player{
  height: 90px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
  width: 40%;
  /* flex-basis: 70%; */
}

.song-timeline{
  font-size: 11px;
}

.song-timeline{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  gap: 5px;
}


.progress-bar{
  /* height: 4px; disattivo perche' prendera'
  la grandezza del suo figlio ovvero progress completion */
  background-color: var(--light-gray);
  flex-grow: 1;
  border-radius: 999px;
  overflow: hidden;
}

.progress-completion{
  height: 4px;
  background-color: white;
  width: 30%;
  border-radius: 999px;

}

.start-time{
  /* padding-right: 10px; */
}

.end-time{
  /* padding-left: 10px; */
}

/* BUTTONS MID PLAYER */

.song-buttons{
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 22px;
  align-items: center;
}

.shuffle{
  font-size: 14px;
  color: white;
}

.back{
  font-size: 14px;
  color: white;
}

.play{
  font-size: 30px;
  color: white;
}

.forward{
  font-size: 14px;
  color: white;
}

.rotate{
  font-size: 14px;
  color: white;
}


/*************** END BUTTONS MID PLAYER */


/* FINE SEZIONE CENTRALE PLAYER */

/**************** SEZIONE DX PLAYER */


.col-manager{
  margin: 0px 10px;
  gap: 12px;
  font-size: 14px;
}

.audio-bar{
  height: 4px;
  background-color: white;
  width: 118px;
}

.audio-manager{
  display: flex;
  align-items: center;
  gap: 12px;
}


/************* FINE SEZIONE DX PLAYER */


/************* MEDIAQUERY PLAYER ************/

@media only screen and (max-width: 767px) {

  .favourite-folder-icons {
    display: flex;
		flex-direction: column;
	}

}


@media only screen and (max-width: 575px) {

  .favourite-folder-icons {
		flex-direction: column;
	}

	.audio-bar {
		width: 85px;
	}





}




/***************** CONTENT CENTRALE *****************/



.categories-row{
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
  font-size: 14px;
  text-transform: uppercase;
  padding: 20px 0px;
}















.recently-played{
  padding: 10px 7px 30px 7px;
}


.highlights-row{
  display: flex;
  /* flex-wrap: wrap; */
  /* justify-content: space-around; */
  /* gap: 10px; */
}

.highlights-col{
  width: calc(100%/6);
  padding: 7px;
}

.song-box > img{
  width: 100%;
}

.song-box>h5, h6 {
  text-align: center;
  padding-top: 20px;
}

.song-box>h5 {
  font-size: 20px;
  color: white;
}

.song-box>h6 {
  padding-top: 10px;
  font-size: 14px;
  color: var(--light-gray);
}

@media only screen and (max-width: 991px) {

  .highlights-row{
    display: flex;
    flex-wrap: wrap;
  }
  
  .highlights-col{
    width: calc(100%/4);
    padding: 5px;
  }

}

@media only screen and (max-width: 767px) {

  .highlights-row{
    display: flex;
    flex-wrap: wrap;
  }
  
  .highlights-col{
    width: calc(100%/2);
  }

}

@media only screen and (max-width: 575px) {

  
 
}



