* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
  
}

img {
	max-width: 100%;
}

ul,
li,
ol,
menu {
	list-style: none;
}

a {
	text-decoration: none;
	color: currentColor;
}

body{
  font-family: 'Signika', sans-serif;
  background-color: #141922;

  height: 100vh;
  display: flex;
  flex-direction: column;
}

main{
  background-color: aqua;
  flex-grow: 1;
  display: flex;
}

footer{
  background-color: grey;
  height: 90px;
}


.navbar{
  background-color: black;
  width: 230px;
}

.content{
  background-color: orange;
  flex-grow: 1;
}
 